
<form #editForm="ngForm" (ngSubmit)="edit(editForm)">
    <div class="form-group">
            <label for="name"></label>
            <input required [(ngModel)]="employee.name" name="name" type="text" #name="ngModel" class="form-control"/>
            <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Pls Enter Name</div>
        </div>

        <div class="form-group">
            <label for="email"></label>
            <input type="email" [(ngModel)]="employee.email" name="email" class="form-control" name="email" />
        </div>
<button class="btn btn-primary">Update</button>
</form>